name: MT
channels:
  - pytorch
  - nvidia
dependencies:
  - python >= 3.8
  - pytorch >= 1.13
  - torchvision
  - pytorch-cuda=11.7
  - transformers
  - bitsandbytes
  - pip:
    - timm
    - tabulate
    - einops
    - ftfy
    - scipy
    - tensorboard
    - imageio
    - h5py
    - scikit-image
    - scikit-learn
    - opencv-python
    - regex
    - matplotlib
    - pandas
